.home{
    
    margin-left:150px;
    margin-right: 150px;
    /* height: max-content; */
    background: #FFEFE3;
    height:570vh;
 
}
.home1{
  
    background: #FFEFE3;
    height: 900px;
    z-index: 2;
}
.home2{

    background: #FFEFE3;
  padding-left: 20px;
 
  
}
.home3{
    padding-top: 80px;
    margin:30px
}
.home4{
    margin-top: 100px;
    margin-bottom: 100px;
}